* {
    margin: 5;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #80475E; 
    text-align: center;
    font-family: Arial, sans-serif; 
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 0.8rem;
    border: none;
    box-shadow: 0 0 1rem rgba(38, 33, 33, 0.3);
    font-size: 8vmin;
    color: #020202; 
    background-color: #F9DBBD; 
    cursor: pointer;
}

#reset {
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    background-color: #3AB795; 
    color: white;
    cursor: pointer;
}

#new, #new2 {
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    background-color: #3AB795;
    color: white;
    cursor: pointer; 
}

#msg {
    color: #FFA5AB; 
    font-size: 8vmin;
}

#msgDraw {
    color: #3AB795;
    font-size: 8vmin;
}

.msg-container,.msg-container2 {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}

.heading-word {
    color: #ff6347; 
    font-size: 5rem;
    display: inline-block; 
}


.heading-word.alternate {
    color: #4682b4; 
}
